*_Dataset
*.avi
*.mp4
*.jpg
.aider*
.env
tmp_content/
others/
aider_old/
.vscode
sample_video.mp4
# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# IDE settings
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3
logs/

# Project specific
tmp_content/
#models/
node_modules/

unknown_video_analysis_1732865618_1732865618.json
*.pem
research-codes/
Reports/
