dataclasses-json==0.6.4
easyocr==1.7.1
flake8==7.0.0
flask==3.0.0
matplotlib==3.8.2
opencv-contrib-python==4.9.0.80
pandas==2.2.3
Pillow==10.2.0
pytesseract==0.3.10
python-statemachine==2.1.2
pyyaml==6.0.1
sahi==0.11.14
torch==2.4.1
transformers==4.45.1
ultralytics==8.0.196
